.footer {
  display: flex;
  width: 100%;
  min-height: 645px;
  background-color: #191c26;
  background-image: url(../images/Bgrd-contacts.png);
  background-size: 50%;
  background-position: right;
  background-repeat: no-repeat;
}

.footer-container {
  display: flex;
}
.footer-form,
.footer-contacts {
  width: 50%;
  height: inherit;
  padding-top: 130px;
}

.footer-form {
  display: block;
}
.required {
  display: flex;
  width: 100%;
}

.required > label {
  width: 50%;
}

.required > label > .input {
  width: 100%;
}
.textarea {
  width: 100%;
  resize: none;
}
.footer-contacts {
  margin-left: 100px;
}

.contacts-item {
  margin-bottom: 20px;
}

.contacts-box {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.address {
  position: relative;
  font-style: normal;
  width: 230px;
  margin-left: 40px;
  color: var(--light-grey-color);
}
.address::before,
.email::before,
.phone-footer::before {
  content: '';
  position: absolute;
  left: -40px;

  width: 24px;
  height: 24px;
}

.address::before {
  background-image: url(../images/icons/map-pin.svg);
}

.contacts-box > a {
  color: var(--light-grey-color);
  position: relative;
}
.email {
  text-decoration-line: underline;
  position: absolute;
  margin-left: 40px;
}

.phone-footer {
  position: absolute;
  margin-left: 40px;
}
.email::before {
  background-image: url(../images/icons/mail.svg);
}

.phone-footer::before {
  background-image: url(../images/icons/phone.svg);
}

.schedule-box {
  display: flex;
  flex-direction: column;
  color: var(--light-grey-color);
  margin-top: 50px;
}

.suptitle-white {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: var(--secondary-color);
}
/* copyright */
.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 127px;
}
