:root {
  --title-color: #303030;
  --text-color: #555555;
  --secondary-color: #ffffff;
  --accent-color: #ff6c00;
  --light-grey-color: #9da4bd;
  /*цвет неактивного элемента */
  --inactive-color: #9da4bd99;
  --backgroud-color: #f7f7f7;
}

body {
  color: var(--text-color);

  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  letter-spacing: 0.02em;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: palegoldenrod;
}
.section {
  padding-top: 130px;
  padding-bottom: 130px;
  outline: 1px solid orchid;
}
/* sidebar */
.social-link {
  color: var(--title-color);
  font-weight: 600;
  font-size: 11px;
  line-height: 11.365px;
}

/* навигация шапка */
nav.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 32px;
  margin-bottom: 32px;
  position: fixed;
  top: 0;
}
.logo-img {
  margin: 0 32px;
  width: 69px;
  height: 55px;
}

.phone-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.nav-links {
  background-color: skyblue;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
}

.btn-box {
  background-color: skyblue;
  margin-left: auto;
}

.btn-box > a {
  margin-left: 40px;
}
.nav-links > li {
  margin: 0 0 0 40px;
  list-style: none;
  display: inline-block;
}
.nav-link,
.phone-link {
  text-decoration: none;
  color: var(--secondary-color);
}

.nav-link:hover,
.nav-link:focus,
.phone-link:hover,
.phone-link:focus,
.social-link:hover,
.social-link:focus {
  color: var(--accent-color);
}

.social-link {
  text-decoration: none;
}

.hero-title {
  color: var(--secondary-color);

  font-family: 'raleway';
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
}

/* на уроке */
.hero-description {
  color: var(--secondary-color);
  line-height: 1.67;
}

.suptitle-secondary {
  color: var(--inactive-color);
  font-weight: 600;
  font-size: 11px;
  line-height: 0.09;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.suptitle-secondary::before {
  content: '';
  background: rgba(157, 164, 189, 0.6);
  width: 60px;
  height: 1px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
}
.contacts-item::before {
  background: rgba(157, 164, 189, 0.4);
}

.section-description {
  margin-bottom: 20px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.86;
}

.primary-btn {
  /* margin-top: 20px; */
  display: inline-block;

  color: var(--secondary-color);
  background-color: navajowhite;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  text-decoration: none;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
}

.darken {
  color: var(--title-color);
}

.header {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
/* sidebar */

.sidebar {
  width: 100px;
  height: 100%;
  background-color: #fff;
}

.social-box {
}
.siderbar-box {
  /* transform: rotate(-90deg); */
}

/* slider */

.slider {
  width: calc(100% - 100px);
  background-image: linear-gradient(277deg, #0000001c, #00000094),
    url(../images/slider/Slider\ img\ 3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* about us */

.about-box {
  display: flex;
}
.about-image-box {
  display: flex;
}
.about-image-box > img {
  margin-right: 30px;
}

.suptitle-primary {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--title-color);
}

.suptitle-primary::before {
  content: '';
  background: var(--title-color);
  width: 60px;
  height: 1px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
}
.section-title {
  margin-bottom: 20px;
  margin-top: 20px;
  color: var(--title-color);

  font-family: Raleway;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}

.section-subtitle {
  margin-bottom: 20px;

  color: var(--title-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.67;
}
.description-container {
  width: 500px;
  display: block;
  margin-left: 35px;
}

/* price */

.price-section {
  background-image: url(../images/bgrd-price.png);
  background-color: rgba(17, 19, 25, 1);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.lighten {
  color: var(--secondary-color);
}

.price {
}

.price-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.price-list {
  padding: 30px 40px;
  justify-content: flex-start;
  width: 585px;
}

.price-item {
  display: flex;
  justify-content: space-between;

  line-height: 1.67;
  color: var(--light-grey-color);
}
.price-item:not(:last-child) {
  margin-bottom: 20px;
}

.price-part {
  margin-bottom: 20px;
}

.price-title {
  margin-bottom: 44px;
}
.price-btn {
  display: flex;
  justify-content: center;
}

.price-list:nth-child(odd) {
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}
.price-list:nth-child(even) {
  background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}

/* <!-- Why Us --> */

.why-us {
  display: flex;
}

.number-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 100px;
  margin-right: 130px;
  width: 370px;
}

.description-whyus {
  width: 500px;
  margin-right: 70px;
}

.number-box p {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;

  color: var(--title-color);
}
.number--description {
  display: block;
  width: 122px;
  height: 30px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: var(--title-color);
}
.number-box {
  display: inline-block;
  text-align: center;

  width: 170px;
  height: 133px;
  padding: 20px 24px;

  background-color: var(--backgroud-color);
}
.number-box:nth-child(2n + 1) {
  margin-right: 30px;
  margin-top: -35px;
}

.number-box:nth-child(-n + 2) {
  margin-bottom: 30px;
}
.number-box:last-child {
  padding-left: 20px;
  padding-right: 20px;
}

.plus {
  font-size: 16px;
  line-height: 1.375;
  color: var(--accent-color);
}

/* Our masters */
.master-box {
  background-color: var(--backgroud-color);
}

.masters-list {
  display: flex;
  justify-content: space-between;
}

.master-card {
  margin-top: 24px;
}

.master-text {
  display: block;
  text-align: center;
  margin-bottom: 30px;
}

.master-text > p {
  line-height: 1.38;
  color: var(--title-color);
  margin-bottom: 8px;
}

.master-text > span {
  font-size: 14px;
  line-height: 1.36;
  color: var(--accent-color);
}

.master-social-box {
  display: flex;
  justify-content: center;
}

.master-social-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--secondary-color);
}
.master-social-link:hover svg,
.master-social-link:focus svg {
  fill: var(--accent-color);
}

.master-social-link svg {
  width: 20px;
  height: 20px;
  fill: var(--title-color);
  transition: fill 250ms linear;
}

.master-social-link:not(:last-child) {
  margin-right: 10px;
}

/* Gallery */

.image-gallery {
  display: flex;
  justify-content: space-between;
  margin-top: 44px;
}

/* Footer */
/* .footer-section {
  background-color: #191c26;
  display: flex;
}

width: 50%;
background-image: url(../images/Bgrd-contacts.png);

.footer {
}

.footer-contacts {
  width: 50%;
  margin-right: 30px;
}

.contacts-schedule {
  color: var(--light-grey-color);
  line-height: 1.67;
}

.footer-title {
  margin-top: 0;
  margin-bottom: 40px;
}

.contacts-title {
  margin-top: 0;
  margin-bottom: 44px;
}
.contacts-box {
  display: flex;
  flex-direction: column;
}

.contacts-item:not(:last-child) {
  margin-bottom: 20px;
}
.contacts-item:last-child {
  margin-bottom: 70px;
}

address {
  font-style: normal;
}

.contacts-box > a {
  color: var(--light-grey-color);
}
.email {
  text-decoration-line: underline;
}

.schedule-box {
  color: var(--light-grey-color);
}

.name-message {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 44px;
}

.name {
  width: 270px;
}

.phone {
  width: 206px;
}
.message {
  width: 560px;
}

.schedule-box {
  display: block;
} */
