$title-color: #303030;
$text-color: #555555;
$secondary-color: #ffffff;
$accent-color: #ff6c00;
$light-grey-color: #9da4bd;
/*цвет неактивного элемента */
$inactive-color: #9da4bd99;
$backgroud-color: #f7f7f7;
