// /* about us */
.about-title {
  font-size: 28px;
}
.about-box {
  display: flex;
}
.about-image-box {
  display: none;
  // display: flex;
}
.about-image-box > img {
  margin-right: 30px;
}

// .description-container {
//   width: 500px;
//   display: block;
//   margin-left: 35px;
// }
.section-description {
  margin-bottom: 20px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.86;
}
