/* Footer */
.footer {
  display: block;
  width: 100%;
  min-height: 500px;
  background-color: #191c26;
  // background-image: url(../images/contacts/contacts-mobile-1x.png);
  // background-size: 100%;
  // background-position: bottom;
  // background-repeat: no-repeat;
}

.footer-container {
  display: block;
  text-align: justify;
}
.footer-form,
.footer-contacts {
  padding-top: 85px;
  padding-bottom: 85px;
  height: inherit;
  // padding-top: 130px;
}

.contacts-title,
.footer-title {
  text-align: center;
  font-size: 40px;
  line-height: 1.16;
  padding: 0;
  margin: 0 auto 45px auto;
}
.footer-form {
  display: block;
}
// .required {
//   display: flex;
//   width: 100%;
// }

.required > label {
  width: 50%;
}

.required > label > .input {
  width: 100%;
}

.footer-contacts {
  // margin-left: 100px;
  background-image: url(../images/Bgrd-contacts.png);
}

.contacts-item {
  margin-bottom: 20px;
}

.contacts-box {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.address {
  position: relative;
  font-style: normal;
  // width: 230px;
  margin-left: 40px;
  color: $light-grey-color;
}
.address::before,
.email::before,
.phone-footer::before {
  content: '';
  position: absolute;
  left: -40px;

  width: 24px;
  height: 24px;
}

.address::before {
  background-image: url(../images/icons/map-pin.svg);
}

.contacts-box > a {
  color: $light-grey-color;
  position: relative;
}
.email {
  text-decoration-line: underline;
  position: absolute;
  margin-left: 40px;
}

.phone-footer {
  position: absolute;
  margin-left: 40px;
}
.email::before {
  background-image: url(../images/icons/mail.svg);
}

.phone-footer::before {
  background-image: url(../images/icons/phone.svg);
}

.schedule-box {
  display: flex;
  flex-direction: column;
  color: $light-grey-color;
  margin-top: 50px;
}

.suptitle-white {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: $secondary-color;
}

.form-box {
  display: block;
  text-align: center;
  // flex-wrap: wrap;
  // justify-content: space-between;
}
.input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #9da4bd66;
  outline: none;
  margin-bottom: 45px;
  width: 100%;
  color: $secondary-color;
}
.footer-form .field-label {
  position: relative;
  // display: inline-block;
  // width: calc(50% - 15px);
}
.footer-form .field-label legend {
  position: absolute;
  top: 0;
  transition: transform 0.1s linear;
  color: #9da4bd66;
}

.field-label:hover input {
  border-color: $secondary-color;
}
.footer-form .input:focus + legend {
  transform: translate(-2px, -24px);
  color: $secondary-color;
}
.footer-form .input:hover + legend {
  transform: translate(-2px, -24px);
  color: $secondary-color;
}
.textarea {
  width: 100%;
  display: block;
  resize: none;
  margin-bottom: 45px;
}

.textarea::placeholder {
  color: #9da4bd66;
}

/* copyright */
.copyright {
  // display: flex;

  // justify-content: space-between;
  // align-items: center;
  padding-top: 45px;
  padding-bottom: 45px;
}

.copy-text {
  margin-top: 20px;
  font-size: 11px;
  line-height: 1.36;
  color: $light-grey-color;
}
.social-box {
  text-align: right;
}

.social-box::before {
  content: '';
  background: $title-color;
  width: 60px;
  height: 1px;
  display: inline-block;
  vertical-align: middle;

  margin-top: 4px;
}
