/* hero */
.hero {
  display: flex;
}

/* sidebar */
.sidebar {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 155px;
    // height: 100vh;
    background-color: #fff;
  }
}

.sidebar-box {
  transform: rotate(-90deg) translateX(190px);
  display: flex;
  //   width: 100%;
}

.social-link {
  color: $title-color;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  // margin-left: 40px;
  // text-decoration: none;
  margin-left: 40px;
}

/* slider */

.slider {
  display: flex;
  flex-direction: column;

  // width: 100%;
  // height: 680px;

  background-image: linear-gradient(277deg, #0000001c, #00000094),
    url(../images/slider/Slider-3-mobile-1x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  // padding-right: 55px;
}

.slide {
  margin: 210px 145px 185px 30px;
  position: relative;
}

.hero-title {
  margin-top: 20px;
  margin-bottom: 20px;
  color: $secondary-color;
  font-family: 'raleway';
  font-weight: 700;
  font-size: 48px;
  line-height: 1.17;
  // font-size: 72px;
  // line-height: 1.18;
  letter-spacing: 0.05em;
}

.hero-description {
  color: $light-grey-color;
  font-size: 16px;
  line-height: 1.63;
}

.back-frwrd {
  display: none;
  // display: block;
  // margin-bottom: 50px;
  // align-items: flex-end;
}

/* навигация шапка */
nav.navbar {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    margin-top: 40px;
  }
}
.logo-img {
  position: absolute;
  top: 0;
  left: 0;
  margin: 32px;
  width: 69px;
  height: 55px;
}

.phone-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.nav-links {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
}

.btn-box {
  margin-left: auto;
}

.btn-box > a {
  margin-left: 40px;
}
.nav-links > li {
  margin: 0 0 0 40px;
  list-style: none;
  display: inline-block;
}
.nav-link,
.phone-link {
  text-decoration: none;
  color: $secondary-color;
}

.nav-link:hover,
.nav-link:focus,
.phone-link:hover,
.phone-link:focus,
.social-link:hover,
.social-link:focus {
  color: $accent-color;
}
